/* HEADER STYLING */

header {
  margin-bottom: 0;
  /*padding: 2rem;*/
  border-bottom: none;
  font-size: 80%;
}

header .navwrapper {
  text-align: center;
  padding: 20px;
}

header .special-navwrapper {
  height: 59px;
  background-color: #1e88e5;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 995;
}

header .special-navwrapper p {
  margin: 0;
  padding: 20px;
}

header .special-navwrapper a {
  color: white;
}


header a.active {
  color: #222;
  border-bottom: 2px solid #222;
}

header a {
  border: none;
  color: gray;
  text-decoration: none;
  padding-bottom: 2px;
}

header nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

header nav ul li {
  display: inline-block;
  margin-right: 1.5rem;
  padding-bottom: 0.5rem;
}

/* GENERAL STYLING */

a {
  color: gray;
}

a.name {
  font-weight: 500;
  color: #222;
  font-size: 16px;
}

.tutoring-body a:hover {
  color: black;
}

a:hover {
  color: green;
}

p {
  line-height: 140%;
  font-size: 16px;
}

/* BODY STYLING */

body {
  background-color: #fafafa;
  color: #222;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 145%;
}

/* HOME SECTION STYLING */

section.text, article {
  max-width: 40rem;
  padding: 1rem;
}

section.featured {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 1.25rem;
}

section {
  max-width: 55rem;
  margin: 0 auto;
}

img.avatar {
  border-radius: 100%;
  max-width: 225px;
  width: 100%;
  margin: 0 auto 4rem;
}

img.small-avatar {
  border-radius: 100%;
  max-width: 100px;
  width: 100%;
  margin: 0 auto 2rem;
}

img.fullimg {
  display: block;
  width: 100%;
}

p.intro {
  text-align: center;
  font-family: "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin-top: -2rem;
  font-weight: 300;
}

p.intro-title {
  text-align: center;
  font-family: "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
}

/* FOOTER STYLING */
footer {
  margin-top: 0;
}

footer h2 {
  font-size: 1em;
  margin: 0;
  color: #333;
}

footer {
  color: gray;
  font-weight: 400;
  padding: 2rem 1rem;
  margin-top: 2rem;
  font-size: 14px;
  line-height: 1.4;
  background-color: #e5e5e5;
}

footer div.copyline {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 1em;
  margin-top: 2em;
  font-size: 12px;
}

footer a {
  color: gray;
  border-bottom-color: lightgray;
}


/* DOODLES STYLING */

.doodles {
  text-align: center;
}

.doodle img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

.doodle p {
  font-weight: bold
}

.description {
  font-weight: normal !important;
}

.doodle {
  padding-top: 20px;
  padding-bottom: 20px;
}

table.preprints {
  border-collapse: separate;
  border-spacing:10px 2em;
}

ul.blog-list p {
  margin-top: 0;
  margin-bottom: 0;
}

/* TUTORING SECTION */

#home-intro {
  background-color: #FF5733;
  background-size: cover;
  opacity: .8;
  margin: 0;
  max-width: none;
  text-align: center;
}

#home-intro .find-tutors-about {
  max-width: 40rem;
  margin: 0 auto;
}

#home-intro .find-tutors-about h3 {
  color: white;
}

#home-intro .find-tutors-about p {
  color: white;
}

#course-intro .course {
  background-color: #eff0f1;
  border-radius: 0px;
}

#course-intro .course-content {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#about-intro {
  background-color: #eff0f1;
  background-size: cover;
  opacity: .8;
  margin: 0;
  max-width: none;
}

#about-intro .about-wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

#about-intro .about-wrapper a {
  color: #1e88e5;
  text-decoration:none
}

#about-intro .skill-wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

#about-intro .skill-wrapper img {
  width: 100%;
  height: auto;
}

#price-intro .price-wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

