p, h1, h2, h3, h4, h5, h6, .p, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.01em;
}

a {
    /*color: #AB387E !important;*/
    color: #1A86FB !important;
}

.new a {
    color: #1A86FB !important;
}

nav li {list-style-type: none;}

.container {
  max-width: 800px !important;
  padding-bottom: 20px;
}

.section-papers li {list-style-type: none;}

.navbar-custom {
    min-height: 100px;
    font-size: 1rem;
    padding: 1rem 4rem !important;
}

.nav-link {
    color: black !important;
}

#navbar-name {
    padding: 0rem 1rem;
    font-weight: bold;
}

#sticky-footer {
    flex-shrink: none;
    font-size: 1rem;
}

footer {
    border-top: 2px solid #E8E8E8;
}

#wrapper {
    /*background-image: url("../img/background.jpeg");*/
    background-color: #f8f9fa;
    background-image: url('../img/background.png');
    background-repeat: repeat;
    background-size: 50%;
    /* background-size:100% 100%; */
    /* flex: 1 0 auto;
    color: black;
    padding: 3rem 0rem; */
}

header {
    /*background-image: url("../img/background.jpeg");*/
    background-color: #f8f9fa;
    background-size:100% 100%;
    flex: 1 0 auto;
    border-bottom: 2px solid #E8E8E8;
    padding-bottom: 5px;
}

.card {
    color: black !important;
    border: none !important;
    margin: 1rem 0rem;
    box-shadow: 5px 5px #e8e8e8;
}

.card .card-header {
    font-size: 0.8rem;
    padding: .5rem 1rem;
}

.section-recent-news .card-header {
    background-color: #E8E8E8 !important;
    /*color: white;*/
    border-bottom: 0px !important;
    font-size: 18px;
}

.section-recent-news li {
    list-style-type: circle;
}

.section-papers li {
    line-height:  1.8em;
    letter-spacing: 0.03em;
}

.section-papers ul {
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 8px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #1A86FB 0%, #1A86FB 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #1A86FB 0%, #1A86FB 100%);
    border-image: linear-gradient(to bottom, #1A86FB 0%, #1A86FB 100%);
    border-image-slice: 1;
}

.section-papers-preprints .card-header {
    background-color: #1A86FB !important;
    color: white;
    border-bottom: 0px !important;
}

.section-papers-published .card-header {
    background-color: #F84C34 !important;
    color: white;
    border-bottom: 0px !important;
}

.section-papers-abstract .card-header {
    background-color: orange !important;
    color: white;
    border-bottom: 0px !important;
}

.card .card-body .card-title {
    font-size: 1rem;
}

.card .card-body .card-text {
    font-size: 0.9rem;
    color: gray !important;
    font-weight: normal !important;
}

.card a {
    color: white !important;
}

.card .btn-primary {
    background-color: gray !important;
    border-color: gray !important;
}

.card .card-body {
    padding-bottom: 1rem !important;
}

.card .btn {
    font-size: 0.6rem !important;
    margin-bottom: 0.5rem;
}

.section {
    padding: 2rem 0rem;
}

.section .row {
    padding-bottom: 1rem;
}

.section-about{
    padding-bottom: 0rem;
}

.section-about-description {
    padding: 1rem;
}
.section-about-description p {
    letter-spacing: 0.05em !important;
}

.profile-image {
    padding: 1rem 0rem;
}

.section-minimize {
    display: none;
}

.info-minimize {
    text-align: center;
}

.section-title p {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2em;
    padding-bottom: 1em;
}

.img-thumbnail {
    max-height: 250px;
}

.mb-0\.75 {
    margin-bottom: 1.125rem !important;
}

.hr-strong {
    opacity: 0.2;
}

hr {
    height: 4px !important;
    margin: 15px 0 !important;
    border: 0 !important;
    background-color: gray;
}