/* Typeface and Text Size */
p { font-family: 'Open Sans', sans-serif;}
h1 { font-family: 'Open Sans', sans-serif;}
h2 { font-family: 'Open Sans', sans-serif;}
h3 { font-family: 'Open Sans', sans-serif;}
h4 { font-family: 'Open Sans', sans-serif;}
h5 { font-family: 'Open Sans', sans-serif;}
h6 { font-family: 'Open Sans', sans-serif;}

/* Hyperlinks */
a, a:visited, a:hover { color: #000; }
a:hover, a.nav:hover { color: orange; }

/* Page Layout */
table, tr, td, thead, tbody {display: block!important;}
tr {float: left!important;}
.trimg {width: 20%!important; min-width: 200px!important;}
.trtxt {width: 80%!important;}

.left_column {
    float: left;
    width: 20%;
}

.right_column {
    float: left;
    width: 20%;
}